/* Add this CSS to your component or a CSS file */
.page-title{
text-align: center;
padding-bottom: 8px;
}
.item-name{
  font-size: 25px;
}

.item-price{
  font-size: 15px;
}

  .cart-item .quantity{
     display: flex;

  }

.cart-item .quantity .quantity-in{
    display: flex;
  align-items:center;
  justify-content: center;
  max-width: 150px;

}

.quantity-button {
  margin: 0 0px; /* Adjust the margin as needed */
}

.quantity-value {
  font-size: 18px; /* Adjust the font size as needed */
  text-align: center; /* Center the quantity input */
  border: 1px solid;

}


.main-image-container {
  position: relative;
}

.main-image {
  height: 250px; /* Adjust as needed */
}

.thumbnails {
  display: flex;
  flex-wrap: wrap;
  gap: 12px; /* Adjust for spacing between thumbnails */
  margin-top: 10px;
}

.thumbnail-image {
  width: 50px; /* Adjust thumbnail size as needed */
  height: 50px; /* Adjust thumbnail size as needed */
  object-fit: cover;
  cursor: pointer;
}
