.sidebar {
  width: 250px; /* Set an initial width for the sidebar */
  transition: width 0.5s; /* Add a smooth transition effect */

  /* Additional sidebar styles */
}

.collapsed .sidebar {
  width: 0; /* Collapse the sidebar by setting its width to 0 */
}

.toggle-sidebar-btn {
  display: none; /* Hide the toggle button by default */
}


@media (max-width: 768px) {
  .collapsed .sidebar {
    width: 0; /* Collapse the sidebar on small screens */
  }

  .toggle-sidebar-btn {
    display: block; /* Show the toggle button on small screens */
  }
}

@media (min-width: 769px) {
  .collapsed .sidebar {
    width: 250px; /* Reset the width to the initial width on larger screens */
  }
}