/* ShoppeeNavbar.css */

/* Define the hover effect for nav links */
.home:hover{
   background-color: #CFE2FF !important;
  
}
.nav-link:hover{
 background-color:#CFE2FF!important;
   color: black !important;

  text-decoration: none; /* Remove the default underline */
  }

  /* ShoppeeNavbar.css */

 #basic-nav-dropdown #services-nav-dropdown{
  max-height: 150px; /* Adjust this value as needed */
  overflow-y:  scroll;
}

/*css for christmas*/
.christmas-navbar {
/*  background-color: #FF0000; */
  border-bottom: 2px solid #008000; /* Green border */
}
/*
.navbar-brand {
  color: #FFFFFF !important; 
}*/

.navbar-nav .nav-link {
  color: #333333 !important; /* Green links */
  
}

.navbar-nav .nav-link:hover {
  color: #333333 !important; 
}
.nav-alert{
  z-index: 100;
}
.link_style{
  text-decoration: none;
  color:#5D5D5D;
}
#product-category-dropdown{
  text-decoration: none;
  color:#5D5D5D;
}
#services-dropdown{
   text-decoration: none;
  color:#5D5D5D;
}
/* Target the main offcanvas element when shown */
.offcanvas.show.custom-offcanvas {
  max-width: 75vw !important;
}

/* Target the offcanvas-body when the offcanvas is shown */
.offcanvas.show.custom-offcanvas .offcanvas-body {
  /* You might want to adjust padding or other styles if needed */
}

/* Target the offcanvas header when the offcanvas is shown */
.offcanvas.show.custom-offcanvas .offcanvas-header {
  max-width: 75vw !important; /* Ensure header also aligns */
}

/* Optional: Adjust the backdrop if desired */
.offcanvas-backdrop.show {
  /* ... your backdrop styles ... */
}