/* ShoppeeNavbar.css */

/* Define the hover effect for nav links */
.home:hover{
   background-color: #CFE2FF !important;
  
}
.nav-link:hover{
 background-color:#CFE2FF!important;
   color: black !important;

  text-decoration: none; /* Remove the default underline */
  }

  /* ShoppeeNavbar.css */

 #basic-nav-dropdown #services-nav-dropdown{
  max-height: 150px; /* Adjust this value as needed */
  overflow-y:  scroll;
}

/*css for christmas*/
.christmas-navbar {
/*  background-color: #FF0000; */
  border-bottom: 2px solid #008000; /* Green border */
}
/*
.navbar-brand {
  color: #FFFFFF !important; 
}*/

.navbar-nav .nav-link {
  color: #333333 !important; /* Green links */
  
}

.navbar-nav .nav-link:hover {
  color: #333333 !important; 
}
.nav-alert{
  z-index: 100;
}


