.product-card {
  position: relative;
  /*border: 1px solid #ccc;*/
  text-align: center;
}

/*.product-card img {
  max-width: 100%;
}*/
/* SoldOutLabel.css (or your main product card CSS) */
.sold-out-label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-25deg); /* Slightly rotate for a dynamic look */
  background-color: rgba(255, 0, 0, 0.7); /* Red with some transparency */
  color: white;
  padding: 8px 15px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1.2rem;
  z-index: 10; /* Ensure it's above the image */
  text-transform: uppercase;
  white-space: nowrap; /* Prevent text wrapping */
}

/* New CSS for Discount */
.discount-label {
  background-color: #28a745; /* Green color, adjust as needed */
  color: white;
  padding: 5px 10px;
  border-radius: 0 5px 5px 0; /* Rounded corners on right side */
  font-weight: bold;
  font-size: 0.9rem;
  z-index: 9; /* Slightly lower than sold-out if both could appear, adjust as needed */
  /* If you want it on top-left */
  top: 0;
  left: 0;
}

.original-price {
  color: #888; /* Grey out the original price */
  text-decoration: line-through;
  margin-right: 5px; /* Space between original and discounted price */
}

.discounted-price {
  color: #dc3545; /* Red for discounted price, or another prominent color */
  font-weight: bold;
}