/*.line {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.line::before,
.line::after {
  content: '';
  flex-grow: 1; 
  height: 1.5px; 
  background-color: #ccc; 
  margin: 0 10px; 
}*/

.text-title {
  color: #5D5D5D;
}